@import '@ionic/react/css/core.css';
@import '@ionic/react/css/normalize.css';
@import '@ionic/react/css/structure.css';
@import '@ionic/react/css/typography.css';
@import '@ionic/react/css/padding.css';
@import '@ionic/react/css/float-elements.css';
@import '@ionic/react/css/text-alignment.css';
@import '@ionic/react/css/text-transformation.css';
@import '@ionic/react/css/flex-utils.css';
@import '@ionic/react/css/display.css';

@font-face {
  font-family: 'Coolvetica';
  src: url('../fonts/CoolveticaRg-Regular.otf') format('opentype'),
       url('../fonts/CoolveticaRg-Regular.ttf') format('truetype'),
       url('../fonts/CoolveticaRg-Regular.woff') format('woff'),
       url('../fonts/CoolveticaRg-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background: #ffffff !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  background: #ffffff !important;
  overflow-x: hidden;
}

#root {
  background: #ffffff !important;
  width: 100%;
  height: 100%;
}

